{% extends "base/base.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <h1>Student List :  </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">NID</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.nid }}</td>
                <td>{{ student.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

